:root {
  --bg-main: #fff;
  --bg-seondary: brown;
  --bg-hover-2: #E2DCC8;
  --border-color: #eee;
  --border-main: 2px solid var(--border-color);
  --border-2: 2px solid #333;
  --shadow-1: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --shadow-2: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* COMMON STYLES */

#loader img {
  text-align: center;
  display: block;
  width: 90px;
  margin: 52px auto;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.maxwidth {
  max-width: 1280px;
  margin: 16px;
}

.flexed {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mb-default {
  margin-block: 12px;
}

input {
  border: var(--border-2);
}

/* NAVIGATION BAR */

#navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 64px;
  justify-content: space-between;
  background-color: var(--bg-seondary);
  padding: 12px;
  box-shadow: var(--shadow-1);
}

.logo {
  color: #fff;
}

.avatar {
  background-color: #eee;
  border: 2px solid black;
  width: 36px;
  height: 36px;
  border-radius: 5rem / 5rem;
  cursor: pointer;
}

.nav-labels {
  list-style-type: none;
  position: absolute;
  top: 64px;
  right: 4px;
  margin: 12px;
  padding: 12px 8px;
  background-color: var(--bg-main);
  border-radius: 8px;
  box-shadow: var(--shadow-1);
}

.nav-links > * {
  display: block;
  padding: 6px 8px;
  cursor: pointer;
}

.nav-links span {
  border-top: var(--border-main);
  margin-top: 8px;
  cursor: default;
}

.nav-links a:hover,
.nav-links p:hover {
  background-color: var(--bg-hover-2);
  border-radius: 4px;
}

/* INPUT FIELD */

.inp-box {
  padding-inline: 8px;
}

.inp-box label {
  display: block;
  margin-block: 12px;
  padding-inline: 6px;
}

.inp-box input {
  display: block;
  font-family: inherit;
  font-size: 16px;
  width: 100%;
  margin-block: 12px;
  padding: 8px 12px;
}

input[type="submit"] {
  border: var(--border-main);
  color: var(--bg-main);
  margin-top: 20px;
  cursor: pointer;
  background-color: var(--bg-seondary);
}

.signup-note {
  vertical-align: bottom;
  font-size: 12px;
}

.forgot-btn {
  text-align: center;
}

.forgot-pass {
  font-family: inherit;
  font-size: 16px;
  color: var(--bg-seondary);
  padding: 4px;
}

/* LOGIN  */

#login {
  max-width: 450px;
  margin: 24px auto;
  padding: 12px;
}

@media screen and (max-width: 474px) {
  #login {
    margin-inline: 12px;
  }
}

.login-header button {
  width: 50%;
  padding: 8px;
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
}

/* HOME SECTION */

#all-blogs {
  margin: 28px 12px;
}

.hero {
  background: url("https://firebasestorage.googleapis.com/v0/b/api-learning-9764b.appspot.com/o/laptop-g5144f1b72_1280.jpg?alt=media&token=37b4aa11-15a2-4a53-b9f3-3b7db31e246d");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 420px;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #333;
}

.btns {
  margin: 24px 12px;
}

.btns a {
  background-color: var(--bg-seondary);
  margin-inline: 2px;
  padding: 8px 12px;
  border-radius: 8px;
  color: #fff;
}

@media screen and (max-width: 574px) {
  .btns {
    text-align: center;
  }
}

.search-box {
  position: relative;
  max-width: 512px;
  margin: 12px;
}

.search-box input {
  font-family: inherit;
  font-size: 16px;
  width: 100%;
  padding: 12px 16px;
  border: var(--border-2);
  border-radius: 2rem / 2rem;
}

.searched {
  width: 100%;
  max-height: 60vh;
  background-color: #fff;
  position: absolute;
  top: 56px;
  padding: 12px;
  border: var(--border-2);
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.searched a {
  display: block;
  margin-block: 4px;
  padding: 4px;
  border-bottom: var(--border-2);
  font-weight: 600;
}

/* CREATE BLOG */

.create-blog {
  max-width: 740px;
  margin: auto;
  padding: 12px;
}

.blog-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.blog-head {
  font-size: 26px;
  font-weight: 700;
}

.dated {
  font-style: italic;
}

.created-by {
  margin-block: 12px;
  text-align: end;
  font-style: italic;
}

.blog-label {
  display: block;
}

.blog-label input {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  width: 100%;
  margin-block: 12px;
  padding: 8px 12px;
}

#blogContent {
  border: var(--border-2);
}

.ql-container {
  min-height: 256px;
}

.ql-container p {
  font-size: 16px;
}

/* BLOG CARD */

.the-blogs {
  margin: 24px 12px;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 24px;
}

.blog-card {
  width: 320px;
  padding: 12px;
  border: var(--border-2);
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.blog-category {
  flex-direction: column;
  justify-content: center;
  min-height: 140px;
  text-align: center;
  background-color: var(--border-color);
}

.blog-title {
  align-items: flex-end;
  justify-content: space-between;
  gap: 12px;
  padding: 8px 4px;
  border-bottom: var(--border-2);
}

.blog-title h3 {
  flex: 2;
}

.blog-title img {
  vertical-align: bottom;
}

/* .blog-content {
  overflow: hidden;
  padding: 12px 4px;
  max-height: 350px;
  text-align: justify;
  border-bottom: var(--border-2);
} */

.post-content ol,
.post-content ul {
  margin-left: 24px;
}

/* .blog-content img {
  display: block;
  margin: auto;
  width: 60%;
} */

.blog-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 4px;
  border-bottom: var(--border-2);
}

.subscribe {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 12px;
}

.subscribe img {
  vertical-align: middle;
  padding: 4px 12px;
}

.comment-btn {
  border-left: var(--border-2);
  border-right: var(--border-2);
}

/* FULL POST */

.full-post {
  max-width: 744px;
  margin: 12px auto;
  padding: 12px;
}

.full-post .blog-meta {
  border: none;
}

.post-content {
  padding: 12px 4px;
  text-align: justify;
}

.post-content p {
  text-indent: 36px;
}

/* COMMENT SECTION */

.comments {
  margin-top: 12px;
}

.comment {
  text-align: justify;
  font-family: inherit;
  margin-top: 12px;
  padding: 12px;
  border: var(--border-2);
  border-left-width: 16px;
}

.for-comments {
  align-items: flex-end;
  justify-content: space-between;
}

#type-comment {
  width: 100%;
}

#add-comment {
  padding: 4px 12px;
  border: var(--border-2);
  margin-top: 12px;
}

.for-authed p {
  display: inline;
  margin-inline: 4px;
  cursor: pointer;
}

/* PROFILE PAGE */

#profile-page {
  text-align: center;
  margin: 24px 12px;
}

.user-detail {
  margin-block: 12px;
}

.user-subscribe {
  margin: 8px auto 12px;
  max-width: 172px;
}

.user-subscribe button {
  border: none;
}

.user-img {
  min-width: 52px;
  min-width: 52px;
  width: 96px;
  height: 96px;
  margin: auto;
  border: var(--border-2);
  background-color: var(--border-color);
  border-radius: 50%;
}

.user-img img {
  width: 60%;
  border-radius: 50%;
}

@media screen and (max-width: 264px) {
  .btns a {
    display: block;
    margin-block: 12px;
  }
  .blog-card {
    max-width: 250px;
  }
}

#redirect-page {
  margin-top: 90px;
  font-size: 24px;
  text-align: center;
}

#redirect-page p {
  margin: 28px auto;
}

#redirect-page a {
  background-color: var(--bg-seondary);
  padding: 8px 12px;
  border-radius: 8px;
  color: #fff;
}